{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">     
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Food Partner</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="{{ url_for('add') }}">Aggiungi Food</a></li>
        <li><a href="{{ url_for('main.view', log_id= 1) }}">View</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Welcome, {{name}}</h1>
      <div class="row placeholders">
        
        <div class="row t20">
          <div class="col-lg-4 col-lg-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <form action="{{url_for('main.create_log')}}" method="POST" role="form">

                  <div class="form-group">
                    <label><i class="glyphicon glyphicon-plus-sign"></i> Add New Date</label>
                    <div class="input-group">
                      <input type="date" class="form-control" name='date' placeholder="Select New Date"
                        aria-label="date" aria-describedby="add-btn">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary" id="add-btn">
                          <i class="glyphicon glyphicon-plus-sign"></i> Add Date
                        </button>
                      </span>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% for row in log_dates|batch(4) %}
      <div class="row t20">
        {% for log_date in row %}
        <div class="col-lg-3">
          <div class="panel panel-warning">
            <div class="panel-body text-bold">
              <i class="glyphicon glyphicon-calendar"></i> {{ log_date['log_date'].date.strftime('%d %B, %Y') }}

              <a class="btn btn-primary btn-xs pull-right"
                href="{{ url_for('main.view', log_id=log_date['log_date'].id) }}">
                View <i class="glyphicon glyphicon-arrow-right"></i>
              </a>
            </div>
            <ul class="list-group">
              <li class="list-group-item text-bold"><span class="badge">{{ log_date['proteins'] }}</span> Protein</li>
              <li class="list-group-item text-bold"><span class="badge">{{ log_date['carbs'] }}</span> Carbohydrate</li>
              <li class="list-group-item text-bold"><span class="badge">{{ log_date['fats'] }}</span> Fat</li>
              <li class="list-group-item text-bold"><span class="badge">{{ log_date['calories'] }}</span> Calories</li>
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    {% endblock %}
  </div>
</div>